footer#fh5co-footer(role='contentinfo')
  .container
    .row.copyright
      .col-md-12.text-center
        p
          small.block
            | &copy; 
            | Designed by 
            a(href='http://freehtml5.co/' target='_blank') FreeHTML5.co
        p
          ul.fh5co-social-icons
            li
              a(href=locals.common.github)
                i.icon-github