<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; <%= title.en %>. All Rights Reserved.</small> 
          <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></small>
        </p>
        <p>
          <ul class="fh5co-social-icons">
            <li><a href="https://github.com/kanagawa41/"><i class="icon-github"></i></a></li>
<!-- 
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
 -->
          </ul>
        </p>
      </div>
    </div>

  </div>
</footer>
