nav.fh5co-nav(role='navigation')
  .top-menu
    .container
      .row
        .col-xs-3
          #fh5co-logo
            a(href='<%= url %>index.html') DIIF
            span .
        .col-xs-9.text-right.menu-1
          ul
            li
              a(href='index.html') DIFF
            li
              a(href='about.html') About
            //
              <li class="has-dropdown">
              <a href="blog.html">Blog</a>
              <ul class="dropdown">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">eCommerce</a></li>
              <li><a href="#">Branding</a></li>
              <li><a href="#">API</a></li>
              </ul>
              </li>
            // <li class="btn-cta"><a href="#"><span>Login</span></a></li>
