nav.fh5co-nav(role='navigation')
  .top-menu
    .container
      .row
        .col-xs-3
          #fh5co-logo
            a(href=locals.common.url + '/') #{locals.common.title_short}
            span .
        .col-xs-9.text-right.menu-1
          ul
            li
              a(href='index.html') RegExp
            li
              a(href='about.html') About
            li
              a(href='options.html') Option