<!DOCTYPE HTML>
<html>
  <head>
    <title>DIFF | <%= title.jp %></title>
    <%- include('layout/common_head.ejs.html') -%>

  <!-- 
  //////////////////////////////////////////////////////

  FREE HTML5 TEMPLATE 
  DESIGNED & DEVELOPED by FreeHTML5.co
    
  Website:    http://freehtml5.co/
  Email:      info@freehtml5.co
  Twitter:    http://twitter.com/fh5co
  Facebook:     https://www.facebook.com/fh5co

  //////////////////////////////////////////////////////
   -->

  <!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">  -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
  
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  </head>
  <body>
    
  <div class="fh5co-loader"></div>
  
  <div id="page">
<!-- Header -->
  <%- include('layout/header.ejs.html') -%>

  <div id="fh5co-about">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>BEAUTY DIFF</h2>
          <p>快適な比較をあなたに！</p>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-features">
    <div class="container">
      <div class="services-padding">
        <div class="row">
          <div class="col-md-6 animate-box">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-search"></i>
              </span>
              <div class="feature-copy">
                <h3>How to</h3>
                <p>
                  文字を張り付ける、そして実行。行うのはこの２ステップだけ。表示形式も選択できる優れもの。<br>
                  ファイルをドロップすれば自動入力してくれます！(2個ドロップしてファイル同士を比較、1個だけして、片方は貼り付けて比較なんて使い方ができます)
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 animate-box">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-genius"></i>
              </span>
              <div class="feature-copy">
                <h3>Why make</h3>
                <p>Windowsには、Win〇ergeの一択。だけどMacには気に入るツールがなかった。diffコマンドを使え？違うそうじゃない。GUIで操作して"気軽"に比較したいのです。</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-started">
    <div class="overlay"></div>
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>作成者</h2>
          <p>I want to be a full stack engineer.</p>
          <p><a href="https://github.com/kanagawa41" class="btn btn-default btn-lg">Ryuji</a></p>
        </div>
      </div>
    </div>
  </div>

<!-- Footer -->
  <%- include('layout/footer.ejs.html') -%>

  </div>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
  </div>

<!-- Scripts -->
  <%- include('layout/script.ejs.html') -%>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
  });
  </script>

  </body>
</html>

