- var meta = locals.index
doctype html
head
  title #{meta.title}
  meta(name='description' content=meta.description)
  meta(name='keywords' content=meta.keywords)

  include layout/common_head.pug

  include layout/signature.pug

  link(href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet')
  // FOR IE9 below
  //if lt IE 9
    script(src='js/respond.min.js')
.fh5co-loader
#page
  // Header
  include layout/header.pug

  .fh5co-contact
    .container
      .row
        .col-md-12
          .form-group
            textarea#txt-before.form-control(rows='10' name='txt1' placeholder='置換文字')
        .col-md-12
          .form-group.row
            label.col-sm-2.col-form-label(for='optradio') 正規表現
            .col-sm-8
              .input-group
                span.input-group-addon /
                input#reg-exp.form-control(type='text' name='reg-exp' placeholder="正規表現を入力")
                span.input-group-addon /
            .col-sm-2
              select#reg-exp-option.form-control(name='reg-exp-option')
                option(value='g') g
                option(value='i') i
                option(value='m' selected='') m
                option(value='s') s
                option(value='u') u
                option(value='y') y
              small
                a(href='./options.html') オプション詳細

          .form-group.row
            label.col-sm-2.col-form-label(for='optradio') リプレイス
            .col-sm-10
              input#replace.form-control(type='text' name='replace' placeholder="リプレイスを入力")
          .form-group.row
            section(style='padding-left: 15px;')
              label.col-form-label 簡単入力
              .panel.panel-default
                #symbol-list.panel-body
                  .form-group.row
                    span.label.label-primary ^
                    span.label.label-primary $
                    span.label.label-primary \
                    span.label.label-primary /
                    span.label.label-primary -
                    span.label.label-primary (
                    span.label.label-primary )
                    span.label.label-primary [
                    span.label.label-primary ]

          .form-group.row
            section(style='padding-left: 15px;')
              label.col-form-label(data-toggle='collapse' data-target='#options') 簡単操作 ↓
              #options.collapse
                .panel.panel-default
                  .panel-body
                    .form-group.row
                      button#btn-blank-delete.btn.btn-primary(href='#') 空白行を削除
          .form-group.row
            section.pl-1(style='padding-left: 15px;')
              //- FIXME: 横に空白を表示したい
              button#btn-reset.btn.btn-danger(type='button') リセットする
        .col-md-12
          .form-group
            textarea#txt-after.form-control(rows='10' name='txt2' placeholder='リプレイス後')
div
  #app(name='app')
// Footer
include layout/footer.pug
.gototop.js-top
  a.js-gotop(href='#')
    i.icon-arrow-up22
  // Scripts
  include layout/script.pug
script.
  document.addEventListener('DOMContentLoaded', function() {
    new IndexController().init();
  });