<!DOCTYPE HTML>
<html>
  <head>
    <title>DIFF | <%= title.jp %></title>
    <%- include('layout/common_head.ejs.html') -%>

  <!--
  //////////////////////////////////////////////////////

  FREE HTML5 TEMPLATE
  DESIGNED & DEVELOPED by FreeHTML5.co

  Website:    http://freehtml5.co/
  Email:      info@freehtml5.co
  Twitter:    http://twitter.com/fh5co
  Facebook:     https://www.facebook.com/fh5co

  //////////////////////////////////////////////////////
   -->

    <!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">  -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

  <div class="fh5co-loader"></div>

  <div id="page">
<!-- Header -->
  <%- include('layout/header.ejs.html') -%>

  <div class="fh5co-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" rows="10" id="txt1" name="txt1" placeholder="テキストをはりつけて！ or ファイルをドロップして！"></textarea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" rows="10" id="txt2" name="txt2" placeholder="テキストをはりつけて！ or ファイルをドロップして！"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group row">
            <label for="optradio" class="col-sm-2 col-form-label">表示方式</label>
            <div class="col-sm-10">
              <label class="radio-inline"><input type="radio" name="optradio" value="side-by-side" checked>Side by Side</label>
              <label class="radio-inline"><input type="radio" name="optradio" value="line-by-line">Line by Line</label>
            </div>
          </div>
          <div class="form-group row">
            <section style="padding-left: 15px;">
              <label class="col-form-label" data-toggle="collapse" data-target="#options">オプション ▼</label>
              <div id="options" class="collapse">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="form-group row">
                      <label for="sort" class="col-sm-2 col-form-label">ソート</label>
                      <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="sort" value="none" checked>しない</label>
                        <label class="radio-inline"><input type="radio" name="sort" value="do">する</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="last_line" class="col-sm-2 col-form-label">最終改行の差分</label>
                      <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="last_line" value="noignore">無視しない</label>
                        <label class="radio-inline"><input type="radio" name="last_line" value="ignore" checked>無視する</label>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="minimap" class="col-sm-2 col-form-label">ミニマップの表示</label>
                      <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="minimap" value="none" checked>しない</label>
                        <label class="radio-inline"><input type="radio" name="minimap" value="do">する</label>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="form-group row">
            <section class="pl-1" style="padding-left: 15px;">
              <a href="#app">
                <button type="button" id="btn-exec" class="btn btn-primary">比較する</button>
              </a>
              <button type="button" id="btn-reset" class="btn btn-danger">リセット</button>
              <a href="#" id="btn-download" class="btn btn-default">ダウンロード</a>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div>
    <div id="app" name="app">

    </div>
  </div>

<!-- Footer -->
  <%- include('layout/footer.ejs.html') -%>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
  </div>

<!-- Scripts -->
  <%- include('layout/script.ejs.html') -%>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      (function() {
      });
    });
  </script>

  </body>
</html>