doctype html
head
  title DIFF
  include layout/common_head.pug

  include layout/signature.pug

  link(href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet')
  // FOR IE9 below
  //if lt IE 9
    script(src='js/respond.min.js')
.fh5co-loader
#page
  // Header
  include layout/header.pug

  .fh5co-contact
    .container
      .row
        .col-md-12
          .row
            .col-md-6
              .form-group
                textarea#txt-before.form-control(rows='10' name='txt1' placeholder='置換文字')
            .col-md-6
              .form-group
                textarea#txt-after.form-control(rows='10' name='txt2' placeholder='リプレイス後')
        .col-md-12
          .form-group.row
            label.col-sm-2.col-form-label(for='optradio') 正規表現
            //- FIXME: 一行で表示したい。
            .col-sm-10 /
              input#reg-exp.form-control(type='text' name='reg-exp' placeholder="正規表現を入力")
              | /
          .form-group.row
            label.col-sm-2.col-form-label(for='optradio') リプレイス
            .col-sm-10
              input#replace.form-control(type='text' name='replace' placeholder="リプレイスを入力")
          .form-group.row
            label.col-sm-2.col-form-label(for='optradio') オプション
            .col-sm-10
              select#reg-exp-option.form-control(name='reg-exp-option')
                option(value='g') (g)グローバルサーチ
                option(value='i') (i)大文字・小文字を区別しない検索
                option(value='m' selected='') (m)複数行検索
                option(value='s') (s). を改行文字と一致するようにします。
                option(value='u') (u)"unicode"; パターンをユニコードのコードポイントの連続として扱う
                option(value='y') (y)対象文字列で最後に見つかったマッチの位置から検索を開始する先頭固定検索を行います
          .form-group.row
            section(style='padding-left: 15px;')
              label.col-form-label(data-toggle='collapse' data-target='#options') 簡単操作 ↓
              #options.collapse
                .panel.panel-default
                  .panel-body
                    .form-group.row
                      button#btn-blank-delete.btn.btn-primary(href='#') 空白行を削除
          .form-group.row
            section.pl-1(style='padding-left: 15px;')
              //- FIXME: 横に空白を表示したい
              button#btn-reset.btn.btn-danger(type='button') リセットする
div
  #app(name='app')
// Footer
include layout/footer.pug
.gototop.js-top
  a.js-gotop(href='#')
    i.icon-arrow-up22
  // Scripts
  include layout/script.pug
script.
  document.addEventListener('DOMContentLoaded', function() {
    new IndexController().init();
  });