/**
 * オリジナルのCSS
 */

@import 'lib/toastr';
@import 'lib/animate';
@import 'lib/bootstrap';
@import 'lib/flexslider';
@import 'lib/icomoon';
@import 'lib/magnific-popup';
@import 'lib/style';

@import 'lib/diff2html.min';

/* サイズ */
/*$baseTitleSize: 0.8em;*/

/* 色 */
/*$baseFontColor: #262626;*/
/*$baseFontColor: #003569;
$baseBgColor: linear-gradient(-135deg, #E4A972, #9941D8);
$baseBorderColor: #efefef;
*/
/* Main */

.panel-body {
  margin-right: 1em;

  .label {
    margin-left: 0.5em;
  }

  button {
    margin-left: 0.5em;
  }
}

#fh5co-contact {
  padding: 1em 0;
}

/* minimap */
#map {
    position: fixed;
    top: 0;
    right: 0;
    width: 3em;
    height: 100%;
    z-index: 100;
/*    padding-top: 4em;
    padding-bottom: 3em;*/
}